{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/dual-listbox/dist/dual-listbox.min.js"></script>   
    <script href="{% static 'css/duallistbox.js' %}" rel="stylesheet"></script>  
    <link href="https://cdn.jsdelivr.net/npm/dual-listbox/dist/dual-listbox.css" rel="stylesheet" />    
    <link href="{% static 'css/duallistbox.css' %}" rel="stylesheet"/>
    <select id="select1" name="select1" class="select1" multiple>
        {% for sel in sel_bands %}
            <option value="{{ sel.band_id }}">{{ sel.band_name }}</option>
        {% endfor %}
    </select>


                                            {% for unsel in unsel_bands %}
                                                    {{ unsel.band_name }}
                                            {% endfor %}


    <script type="text/javascript">
      let dualListbox = new DualListbox("#select1"); // Selects the first element with the id 'select'

      function btnsub() {
        console.log("duh");
        var x = document.getElementById("dual-listbox__selected");
        var txt = "";
        var txt1 = "";
        var txt2 = "";
        var i;
        for (i = 0; i < x.length; i++) {
          txt = txt + x.options[i].text + ",";
          txt1 = txt1 + x.options[i].value + ",";
          txt2 = txt2 + "{value:" + x.options[i].value + " text:" + x.options[i].text +"}";
        }
        console.log({txt});
        console.log({txt1});
        console.log({txt2});

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.open("POST", "https://jsonplaceholder.typicode.com/posts");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(txt2));

    }

    </script>
{% endblock %}