{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Section: Intro -->
    <section class="">

        <style>
            #intro-upper {
                margin-top: -72px;
                height: 500px;
                background-color: hsl(0, 0%, 94%);
            }

            @media (max-width: 767.98px) {
                #intro-upper {
                    margin-top: -72px;
                    height: 500px;
                }
            }

            #intro-lower {
                margin-top: -300px;
            }

            @media (max-width: 767.98px) {
                #intro-lower {
                    margin-top: -300px;
                }
            }
        </style>

        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-6">
                    <h2>Spread the news...</h2>
                </div>
            </div>
            <div class="row gx-lg-5 mt-5">
                {% for article in article_list %}
                    <!-- Column -->
                    <div class="col-lg-4 col-md-12">
                        <div class="card rounded-6 h-100">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <a class="d-block blur-shadow-image">
                                    <img src="{{ article.main_image }}" alt="img-blur-shadow"
                                         class="img-fluid shadow border-radius-lg">
                                </a>
                                <div class="colored-shadow"
                                     style="background-image: url('https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg');"></div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ article.headline }}</h5>
                                <p class="card-text">
                                    {{ article.date_published }}
                                </p>
                                <p class="text-muted">
                                    {{ article.description }}
                                </p>
                                <a href="{{ article.url }}" target="_blank">
                                    <button type="button" class="btn btn-primary">View Full Article
                                        <i class="fas fa-angle-right ms-1"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--    Column -->
                {% endfor %}
            </div>
            <div class="row gx-lg-5 mt-5">
                <a role="button" href="{% url 'articles' %}"><h3>See the rest...</h3></a>                
            </div>
        </div>
    </section>
{% endblock %}